@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Thin.woff") format("woff"),
         url("../asset/font/NotoSansKR-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Light.woff") format("woff"),
         url("../asset/font/NotoSansKR-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-DemiLight.woff") format("woff"),
         url("../asset/font/NotoSansKR-DemiLight.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Regular.woff") format("woff"),
         url("../asset/font/NotoSansKR-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Medium.woff") format("woff"),
         url("../asset/font/NotoSansKR-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Bold.woff") format("woff"),
         url("../asset/font/NotoSansKR-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../asset/font/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"),
         url("../asset/font/NotoSansKR-Black.woff") format("woff"),
         url("../asset/font/NotoSansKR-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
}